mixin userGallery(user, me)
    each elem in user
        .col-md-4.col-sm-6
            a.thumbnail(href="/users/view/:"+elem._id)
                .card-container
                    .card
                        .front
                            .cover
                                img(src='http://www.hdimageson.com/wp-content/uploads/2016/05/beach-images-tumblr-300x188.jpg')
                            .user
                                if elem.guestPic
                                    img.img-circle(src=elem.guestPic)
                                else if elem.pics
                                    img.img-circle(src=elem.pics[0])
                                else
                                    img.img-circle.avatar(src="http://api.adorable.io/avatar/76/" + elem.firstname)
                            .content
                                .main
                                    h3.name #{elem.firstname}
                                    if elem.gender === '1'
                                        p.gender(style="color:blue;") 👱🏼 , #{elem.age} years old
                                    else
                                        p.gender(style="color:pink;") 🙎🏼 , #{elem.age} years old
                                    if elem.bio
                                        p.text-center &quot;I&apos;#{elem.bio}&quot;

                        .back
                            .container-fluid
                                .header
                                    h5.motto &quot;#{elem.nickname}&quot;
                                .content
                                    .main
                                        h5.text-center Interests
                                        if elem.tags
                                            .item
                                                .item-content-block.tags
                                                    each tag in elem.tags
                                                        p #{tag}
                                        else
                                            p Nothing
                                        .stats-container
                                            .stats.text-center
                                                if elem.popularity
                                                    p  🌟 #{elem.popularity} 🌟
                                .footer
                                    if (me.pics !== undefined && me.pics[0] !== undefined) || me.guestPic !== undefined

                                        .likeButton
                                            form.form-horizontal(method="post", action="/profile/likeOther")
                                                input#like(type="hidden", value=elem._id, name="UsertoLike")
                                                button.btn.btn-danger(type="submit", onclick="myfunction();") ❤️
                                        .blockButton
                                            form.form-horizontal(method="POST", action="/profile/blockOther")
                                                input#like(type="hidden", value=elem._id, name="UsertoBlock")
                                                button.btn.btn-danger(type="submit", onclick="myfunction();") 💔
                                    else
                                        p If you want to like someone upload a pic

