extends layout

block content
    include partials/navbar

    each elem in users
        li= elem.firstname
        li= elem.location.country
        if (elem.gender === '1')
            li= 'male'
        else
            li= 'female'
        each tag in elem.tags
            li= tag