extends layout
include tools

block content
    include partials/navbar

    each  elem  in user
        li=  elem

    .col-lg-3.col-md-3.hidden-sm.hidden-xs
        .panel.panel-default
            .panel-body
                .media
                    div(align='center')
                        img.thumbnail(src='uploads/image-1488885210969.jpeg', width='300px', height='300px')
                    .media-body
                        hr
                        h3
                            strong Bio
                        p
                            | #{user.bio}
                        h3
                            strong Location
                        p #{user.city}
                        hr
                        h3
                            strong Gender
                        p #{user.gender}
                        hr
                        h3
                            strong Birthday
                        p #{user.birthday}
                        hr

                        h3
                            strong Name
                        p #{user.firstname}
                        hr

