extends layout
include tools

block content
    include partials/navbar


    .row
        form.form-horizontal(method='POST', action='/profile/search')
            div.form-group
                label.control-label Orientation
                    label.radio-inline Male
                        input#male(type='radio', name="orientation", value='1')
                    label.radio-inline Female
                        input#female(type='radio', name="orientation", value='0')
                    label.radio-inline bisexual
                        input#bisexual(type='radio', name="orientation", value='2')
            div.form-group
                .input-group.col-md-12
                    input.search-query.form-control(type='text', name="search", placeholder='Search')

            button.btn.btn-danger(type='button')

        if (users)
            each elem in users
                li= elem.firstname
                li= elem.location.country
                if (elem.gender === '1')
                    li= 'male'
                else
                    li= 'female'
                each tag in elem.tags
                    li= tag
