extends layout
include tools

block content
    include partials/navbar



    .col-lg-3.col-md-3.hidden-sm.hidden-xs
        .panel.panel-default
            each  elem  in user
                li=  elem
            .panel-body
                .media
                    div(align='center')
                        img.thumbnail(src='http://scontent.cdninstagram.com/t51.2885-15/sh0.08/e35/p750x750/12599310_1708886962707478_1455150980_n.jpg?ig_cache_key=MTIyMjM2OTg4NDAzNTk1NzUyOA%3D%3D.2', width='300px', height='300px')
                    .media-body
                        hr
                        h3
                            strong Bio
                        p
                            | #{user.nickname}
                            | #{user.bio}
                        h3
                            strong Location
                        p
                            | #{user.location.city}
                            | #{user.location.country}
                            | #{user.location.region}
                            | #{user.location.long}
                            | #{user.location.lat}
                        hr
                        h3
                            strong Gender
                            if user.gender === 0
                                p female
                            else
                                p male
                        hr
                        h3
                            strong Birthday
                        p #{user.birthday}
                        hr

                        h3
                            strong Name
                        p #{user.firstname}
                        hr


        .row
            form.form-horizontal(method='POST', action='/profile/search')
                div.form-group
                    .input-group.col-md-12
                        input.search-query.form-control(type='text', name="search", placeholder='Search')
                        |
                        span.input-group-btn
                            button.btn.btn-danger(type='button')
                                span.glyphicon.glyphicon-search