extends layout

block content
    include partials/navbar

    .main.container-fluid
        .jumbotron
            if message
                p.alert-danger #{message}
            .row
                .col-lg-12.col-md-12.col-sm-12
                        div(align='center')
                            if user.guestPic
                                img.img-rounded.img-responsive(src='http://localhost:3000' + user.guestPic)
                            if user.pics
                                    .row
                                        each pic in user.pics
                                            .col-md-4
                                                .thumbnail
                                                    img.img-responsive.img-rounded(src='http://localhost:3000' + pic, style='width:100%;')
                                                    .buttonPic
                                                        form(method="POST", action="/profile/DellPics")
                                                            input(type="hidden", name="idForDelPic", value=user._id)
                                                            input(type="hidden", name="delpics", value=pic)
                                                            button(type='submit', value='delete') ❌
                                                        form(method="POST", action="/profile/GuestPic")
                                                            input(type="hidden", name="idForGuestPic", value=user._id)
                                                            input(type="hidden", name="guestPic", value=pic)
                                                            button(type='submit', value='updown') ✅
                .row
                    .col-sm-6
                        h3 Bio
                        p #{user.bio}
                        h3 Location
                        p
                            | #{user.city}
                            | #{user.country}
                            | #{user.region}
                        h3 Gender
                            if user.gender === 0
                                p &#9792;
                            else
                                p &#9794;
                        h3 Birthday
                        p #{user.birthday} , #{user.age} years old
                        h3 Personnal Info
                        p #{user.firstname}
                        p #{user.lastname}
                        p #{user.email}
                    .col-sm-6
                        if user.tags
                            .item
                                .item-content-block.tags
                                    each tag in user.tags
                                        form.form-horizontal(method='POST', action='/profile/dellTags')
                                            label #{tag}
                                            input#tags(type="hidden", name="info", value=tag)
                                            button(type="submit", onclick="window.refresh();") ❌
                        if user.location
                            img(src="https://maps.googleapis.com/maps/api/staticmap?center=" + user.location.coordinates[1] + "," + user.location.coordinates[0] + "&zoom=12&size=200x200&scale=1&&markers=color:blue%7Clabel:M%7C" + user.location.coordinates[1] + "," + user.location.coordinates[0] + "&key=AIzaSyAjLI_BhKEyPzgV3wmSPTYWvZayYC3f8o8")
                        hr
                        form.form-horizontal(method='POST', action='/profile/findMe')
                            div.form-group
                                input.form-control(type="submit", value="🗺")
                        form.form-group(method='POST', action='/profile/location')
                            div.form-group.row
                                label.control-label i live..
                                input.form-control(type="city", name="city", placeholder="Paris")
                            button.btn-large.btn-primary(type='submit' value="submitAdresse") Location

            .row
                .col-sm-6
                    h2.center Change it
                    form.form-group(method='POST', action='/profile/me')
                        .row
                            input#nickname.form-control(type='text', placeholder='Nickname' name='nickname')
                            input#firstname.form-control(type='text', placeholder='Firstname' name='firstname')
                            input#lastname.form-control(type='text', placeholder='LastName' name='lastname')
                            input#email.form-control(type='email', placeholder='name@email.com' name='email')
                            input.form-control(type="textarea", name="bio", placeholder="Hy .....")
                            div.form-control
                                label.control-label i Want :
                                    label.radio-inline 👱🏼
                                        input#male(type='radio', name="orientation", value='1')
                                    label.radio-inline 🙎🏼
                                        input#female(type='radio', name="orientation", value='0')
                                    label.radio-inline 👫
                                        input#bisexual(type='radio', name="orientation", value='2')
                            button.btn-primary(type='submit' value="Upload") Modif
                .col-sm-1
                .col-sm-5
                    hr
                    form.form-group.row(action="/users/upload", method="post", enctype="multipart/form-data")
                        label.control-label upload pic..
                            input.form-control(type="file", multiple, name="image", accept="images/*")
                            input.form-control(type="submit", value="📸")
                    form.form-horizontal(method='POST', action='/profile/addTags')
                        div.form-group
                            input#tags.form-control(type='text', placeholder='interests' name='tags')
                            button(type="submit", value="Upload") Add interests
                    form.form-horizontal(method='POST', action='/profile/addAge')
                        div.form-group
                            label(for='birthday') Birthday:
                            input#birthday.form-control(type='date', placeholder='birthday' name='birthday')
                            button(type="submit", value="Upload") 🎂
            .row









