extends layout

block content
    include partials/navbar






    .main.container
        .row
            h2 Modifier mes informations


            form.form-horizontal(method='POST', action='/profile/me')
                div.form-group
                    input#nickname.form-control(type='text', placeholder='Nickname' name='nickname')
                button(type="submit", value="Upload") Nickname

            form.form-horizontal(method='POST', action='/profile/me')
                div.form-group
                    input#firstname.form-control(type='text', placeholder='Firstname' name='firstname')
                button(type="submit", value="Upload") Firstname

            form.form-horizontal(method='POST', action='/profile/me')
                div.form-group
                    input#lastname.form-control(type='text', placeholder='LastName' name='lastname')
                button(type="submit", value="Upload") lastname

            form.form-horizontal(method='POST', action='/profile/email')
                div.form-group
                    input#email.form-control(type='email', placeholder='name@email.com' name='email')
                button(type="submit", value="Upload") Email

            form.form-horizontal(method='POST', action='/profile/password')
                div.form-group
                    input#pw.form-control(type='password', placeholder="Password (8 to 20)" name='password')
                button(type="submit", value="Upload") Password

            form.form-horizontal(method='POST', action='/profile/me')
                div.form-group
                    label.control-label Add some words about you
                    input.form-control(type="textarea", name="bio", placeholder="Hy .....")
                button(type="submit", value="Upload") Bio

            form.form-horizontal(method='POST', action='/profile/location')
                div.form-group
                    label.control-label Where are you living
                    input.form-control(type="city", name="city", placeholder="Paris")
                button.btn-large.btn-primary(type='submit') Location

        .row
            h2.center Ajouter une photo à mon profil
            form.form-group(action="/users/upload", method="post", enctype="multipart/form-data")
                input.form-control(type="file", multiple, name="image", accept="images/*")
                input.form-control(type="submit", value="submit")
                button(type="submit", value="Upload") Upload File

        form.form-horizontal(method='POST', action='/profile/addTags')
            div.form-group
                input#tags.form-control(type='text', placeholder='interests' name='tags')
            button(type="submit", value="Upload") Add interests

        form.form-horizontal(method='POST', action='/profile/me')
            div.form-group
                label.control-label Orientation
                .row
                    label.radio-inline Male
                        input#male(type='radio', name="orientation", value='1')
                    label.radio-inline Female
                        input#female(type='radio', name="orientation", value='0')
                    label.radio-inline bisexual
                        input#bisexual(type='radio', name="orientation", value='2')
                    button(type="submit", value="orientation") Sexe preferences




        .panel-heading
            h3.panel-title Update Location
            form.form-horizontal(method='POST', action='/profile/findMe')
                div.form-group
                    input.form-control(type="submit", value="submit")




        .col-lg-3.col-md-3.hidden-sm.hidden-xs
            .panel.panel-default
                each  elem  in user
                    li=  elem
                .panel-body
                    .media
                        div(align='center')
                            img.thumbnail(src='http://scontent.cdninstagram.com/t51.2885-15/sh0.08/e35/p750x750/12599310_1708886962707478_1455150980_n.jpg?ig_cache_key=MTIyMjM2OTg4NDAzNTk1NzUyOA%3D%3D.2', width='300px', height='300px')
                        .media-body
                            hr
                            h3
                                strong Bio
                            p
                                | #{user.nickname}
                                | #{user.bio}
                            h3
                                strong Location
                            p
                                | #{user.location.city}
                                | #{user.location.country}
                                | #{user.location.region}
                                | #{user.location.long}
                                | #{user.location.lat}
                            hr
                            h3
                                strong Gender
                                if user.gender === 0
                                    p female
                                else
                                    p male
                            hr
                            h3
                                strong Birthday
                            p #{user.birthday}
                            hr

                            h3
                                strong Name
                            p #{user.firstname}
                            hr














