extends layout
include partials/chat

block content
    script
        include ../public/javascripts/scripts.js
    script
        include ../node_modules/socket.io-client/dist/socket.io.js
    script
        include ../config/sockets.js
    include partials/navbar

    .container-fluid
        .jumbotron
            if message
                p #{message}

            .row
                .col-lg-12
                    h1.center= (userToShow.nickname ? userToShow.nickname : userToShow.firstname)

            .row
                .col-lg-3
                    if userToShow.guestPic
                        img.img-responsive.img-rounded(src=userToShow.guestPic)
                    else
                        img.img-responsive.img-rounded(src="http://api.adorable.io/avatar/76/" +userToShow.firstname)
                .col-lg-4
                    p #{userToShow.city} , #{userToShow.country}
                    p #{userToShow.age}
                    p #{userToShow.bio}

                .col-lg-5
                    if userToShow.tags
                        .item
                            .item-content-block.tags
                                each tag in userToShow.tags
                                    p #{tag}


            if userToShow.pics
                .row
                    each pic in userToShow.pics
                        .col-md-4
                            .thumbnail
                                img.img-responsive(src=pic)

            .ChatBox
                .container-fluid
                    .row
                        .col-md-5
                            .panel.panel-primary
                                .panel-body
                                    .chat

                                        if need === true
                                            if chatRooms !== undefined
                                                each elem in chatRooms
                                                    +chat(elem.nickname, elem.message, user, idRoom)
                                            .test1
                                            .panel-footer
                                                .input-group
                                                    ul#messages
                                                        form#test(action='')
                                                            input#m(type="textarea", autocomplete='off', placeholder="Write something..." required)
                                                            input#idto(type='hidden', value=user.id, name="idToTalk")
                                                            input#idRoom(type='hidden', value=idRoom, name="idToTalk")
                                                            input#nicknameSocket(type='hidden', value=user.nickname, name="idToTalk")
                                                            button(type='submit') 🛫
